html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSF6keS6hQbzJFFyD6xQg-1v5c5oZz-42IqcXJppSQXZBfro3sL');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 60px;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color:transparent;
}
table, th, td {
     border-collapse: collapse;
     border: 1px solid black;
     text-align: center;
}
/*Set a backgorund for the table*/
 table {
     background-image: url('https://jooinn.com/images/cardboard-texture-background.jpg');
     border-collapse: collapse;
     width:100%;
}
 td, th {
     border: 3px solid black;
     padding: 1.0rem;
     text-align: left;
}
 th {
     font-weight: bold;
}
/*Set a background on selected item*/
.selected {
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQanoeRcKwMUr6LOuWD-FJeD7_0yRix3lbiWc2AKyCjl8KL7ZXm');
            color: #FFF;
}